@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

html {
    font-size: 62.5%;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3);
}

.logo img {
    max-width: 80%;
    height: auto;
    margin-left: 4rem;
}

@media (max-width: 500px) {
    .logo img {
        margin-left: 0rem;
    }
}